<div class="contenedor-form">
  <div class="toggle">
    <span>200</span>
  </div>

  <div class="formulario">
    <h2>Home</h2>
    <h3>{{user | json}}</h3>
  </div>

  <div class="reset-password"
       routerLink="/login"
       routerLinkActive="active">
    <a>Login Exitoso</a>
  </div>

</div>

