<div class="contenedor-form">
  <div class="toggle"
       routerLink="/registration"
       routerLinkActive="active">
    <span>Crear Cuenta</span>
  </div>

  <div class="formulario">
    <h2>Acceso Restringido</h2>
    <h3>Ud. no cuenta con privilegios suficientes para acceder a este recurso. Por favor, vuelva a loguearse</h3>
  </div>

  <div class="reset-password"
       routerLink="/login"
       routerLinkActive="active">
    <a>Volver a loguearse.</a>
  </div>

</div>
