<div class="contenedor-form">
  <div class="toggle"
       routerLink="/login"
       routerLinkActive="active">
    <span>404</span>
  </div>

  <div class="formulario">
    <h2>Recurso No Encontrado</h2>
    <h3>No se ha podido encontrar el recurso solicitado.</h3>
  </div>

  <div class="reset-password"
       routerLink="/landing"
       routerLinkActive="active">
    <a>Home</a>
  </div>

</div>
