<h1>BUSCAR PACIENTES</h1>
<div class="info"><a href="https://www.grandvincent-marion.fr" target="_blank"><p> <i class="fa fa-heart"></i> </p></a></div>

<form>
  <h1> </h1>

  <div class="contentform">
    <!div id="sendmessage">

    <div class="form-group">
      <p>DNI <span></span></p>
      <span class="icon-case"><i class="fa fa-map-marker"></i></span>
      <input type="text" name="postal" id="postal" data-rule="required" data-msg="Verifique su entrada en los campos: el campo 'DNI' debe completarse."/>
      <div class="validation"></div>
    </div>

    <div class="leftcontact">
      <label for="">Genero</label>
      <input type="radio" name="FEMENINO" value="a" >FEMENINO
      <input type="radio" name="MASCULINO" value="i">MASCULINO
      <div class="form-group">
        <p>APELLIDO<span></span></p>
        <span class="icon-case"><i class="fa fa-male"></i></span>
        <input type="text" name="nom" id="nom" data-rule="required" data-msg="Verifique su entrada en los campos: el campo 'APELLIDO' debe completarse."/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>NOMBRE <span></span></p>
        <span class="icon-case"><i class="fa fa-user"></i></span>
        <input type="text" name="prenom" id="prenom" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné."/>
        <div class="validation"></div>
      </div>
      <div style="width:100%; height:100%">
        <button type="button">BUSCAR PACIENTE</button>
      </div>

      <table border="1">
        <thead>
        <tr>
          <th>IdPaciente</th>
          <th>DNI</th>
          <th>Nombre y apellido</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>



        </tbody>
      </table>




    </div>
  </div>
  <button type="submit" class="bouton-contact">BUSCAR</button>
  <input type="submit"  OnClick="location.href = 'ventanaBuscarPacientes.html'"/>
</form>


<button onclick="location.href = 'index.html'">DAR DE ALTA</button>
<button onclick="location.href = 'index.html'">CANCELAR</button>
