<div class="contenedor-form">
  <div class="toggle"
       routerLink="/registration"
       routerLinkActive="active">
    <span> Crear Cuenta</span>
  </div>

  <div class="formulario">
    <h2>Iniciar Sesión</h2>
    <form action="#" [formGroup]="loginForm">
      <input type="text" placeholder="Usuario" required formControlName="nombre_usuario" (click)="resetFormError()">
      <p *ngIf="_formUtils.hasError('nombre_usuario', loginForm)">El nombre de usuario debe contener más de 4 caracteres</p>
      <p *ngIf="_formUtils.isEmpty('nombre_usuario', loginForm)">{{_formUtils.requiredFieldText}}</p>

      <input type="password" placeholder="Contraseña" required formControlName="clave_usuario" (click)="resetFormError()">
      <p *ngIf="_formUtils.hasError('clave_usuario', loginForm)">Su contraseña debe contener al menos 4 caracteres</p>
      <p *ngIf="_formUtils.isEmpty('clave_usuario', loginForm)">{{_formUtils.requiredFieldText}}</p>

      <input type="submit" value="Iniciar Sesión" (click)="logUser()">

    </form>
  </div>

  <div class="login-error" *ngIf="errorResponse && !successResponse">
    <div>Usuario o Contraseña incorrecto.</div>
  </div>

  <div class="reset-password">
    <a href="#">Olvide mi Contraseña?</a>
  </div>

</div>
