<body>
<div class="container">
  <div class="row" text="black">
    <!-- Insert/Drop Grid Column codes below-->
    <div class="col-xs-12">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/landing"
               routerLinkActive="active">BIENVENIDO</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="USUARIO" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USUARIO<span
                  class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/usuarios"
                         routerLinkActive="active">ABM</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a routerLink="/landing"
                         routerLinkActive="active">Reporte</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="PACIENTES" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PACIENTE<span
                  class="caret"></span></a>
                <ul class="dropdown-menu">


                  <li><a routerLink="/pacientes"
                         routerLinkActive="active">ABM</a></li>
                  <li role="separator" class="divider"></li>

                  <li><a routerLink="/landing"
                         routerLinkActive="active">Reporte</a></li>

                </ul>
              </li>
              <li class="dropdown">
                <a href="HISTORIA CLINICA" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HISTORIA
                  CLINICA<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/historial-clinico"
                         routerLinkActive="active">ABM</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a routerLink="/landing"
                         routerLinkActive="active">Reporte</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="REPORTES" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REPORTE<span
                  class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/landing"
                         routerLinkActive="active">Alta</a></li>
                  <li><a routerLink="/registration"
                         routerLinkActive="active">Buscar</a></li>
                  <li><a routerLink="/landing"
                         routerLinkActive="active">Baja</a></li>

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>
  <div class="row" style="margin-top: 50px">
    <style>
      h3 {
        color: black;
      }

      p {
        color: yellowgreen;
      }
    </style>

  </div>
</div>

<div class="content">
  <div></div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div></div>
</div>

</body>
