<div class="form-container">
  <form action="#" [formGroup]="registrationForm">
    <h2>Datos de Usuarios</h2>

    <input type="text" placeholder="Nombre de Usuario" required formControlName="nombre_usuario">
    <p *ngIf="_formUtils.hasError('nombre_usuario', registrationForm)">El nombre de usuario debe contener más de 4 caracteres</p>
    <p *ngIf="_formUtils.isEmpty('nombre_usuario', registrationForm)">{{_formUtils.requiredFieldText}}</p>

    <input type="password" placeholder="Contraseña" required formControlName="clave_usuario">
    <p *ngIf="_formUtils.hasError('clave_usuario', registrationForm)">Su contraseña debe contener al menos 4 caracteres</p>
    <p *ngIf="_formUtils.isEmpty('clave_usuario', registrationForm)">{{_formUtils.requiredFieldText}}</p>

    <input type="password" placeholder="Confirmar Contraseña" required formControlName="confirm_password">
    <p *ngIf="_formUtils.hasError('confirm_password', registrationForm)">No coinciden las contraseñas</p>
    <p *ngIf="_formUtils.isEmpty('confirm_password', registrationForm)">{{_formUtils.requiredFieldText}}</p>

    <select (change)="selectProfile($event)" formControlName="id_perfil">
      <option value="" disabled selected>Seleccione un perfil</option>
      <option *ngFor="let profile of profiles" [ngValue]="profile.id_perfil">{{profile.nombre}}</option>
    </select>

    <h2>Datos Personales</h2>

    <input type="text" placeholder="DNI" required formControlName="dni_persona">
    <p *ngIf="_formUtils.hasError('dni_persona', registrationForm)">Por favor, solamente utilizar números.</p>
    <p *ngIf="_formUtils.isEmpty('dni_persona', registrationForm)">{{_formUtils.requiredFieldText}}</p>

    <input type="text" placeholder="Nombre" required formControlName="nombre">
    <p *ngIf="_formUtils.isEmpty('nombre', registrationForm)">{{_formUtils.requiredFieldText}}</p>

    <input type="text" placeholder="Apellido" required formControlName="apellido">
    <p *ngIf="_formUtils.isEmpty('apellido', registrationForm)">{{_formUtils.requiredFieldText}}</p>

    <select (change)="selectCity($event)" formControlName="id_ciudad">
      <option value="" disabled selected>Seleccione una ciudad</option>
      <option *ngFor="let city of cities" [ngValue]="city.id_ciudad">{{city.nombre_ciudad}}</option>
    </select>

    <input type="text" placeholder="Dirección" required formControlName="direccion">
    <p *ngIf="_formUtils.isEmpty('direccion', registrationForm)">{{_formUtils.requiredFieldText}}</p>

    <input type="email" placeholder="Correo Electronico" required formControlName="mail">
    <p *ngIf="_formUtils.hasError('mail', registrationForm)">Por favor, inserte un mail válido.</p>
    <p *ngIf="_formUtils.isEmpty('mail', registrationForm)">{{_formUtils.requiredFieldText}}</p>

    <input type="text" placeholder="Teléfono" required formControlName="telefono">
    <p *ngIf="_formUtils.hasError('telefono', registrationForm)">El número de teléfono debe tener 8 caracteres por lo menos.</p>
    <p *ngIf="_formUtils.isEmpty('telefono', registrationForm)">{{_formUtils.requiredFieldText}}</p>

    <input type="text" placeholder="Fecha de Nacimiento" required formControlName="fecha_nac">
    <p *ngIf="_formUtils.hasError('fecha_nac', registrationForm)">Por favor, inserte una fecha válida.</p>
    <p *ngIf="_formUtils.isEmpty('fecha_nac', registrationForm)">{{_formUtils.requiredFieldText}}</p>

    <div class="two-options">
      <input type="submit" value="Registrar" (click)="registerUser()">
      <input type="submit" value="Cancelar" routerLink="/pacientes"
             routerLinkActive="active">
    </div>

  </form>
</div>


