<div class="form-container">
  <form action="#" [formGroup]="searchUserForm">
    <h2>Modificar Usuario</h2>

    <input type="text" placeholder="DNI" required formControlName="dni_persona">
    <p *ngIf="_formUtils.hasError('dni_persona', searchUserForm)">Por favor, solamente utilizar números.</p>

    <input type="text" placeholder="Nombre" required formControlName="nombre_usuario">
    <p *ngIf="_formUtils.hasError('nombre_usuario', searchUserForm)">El nombre de usuario debe contener más de 4 caracteres</p>

    <div class="two-options">
      <input type="submit" value="Buscar" (click)="searchUser()">
      <input type="submit" value="Cancelar" routerLink="/pacientes"
             routerLinkActive="active">
    </div>

  </form>

  <div *ngIf="userList != null && userList.length > 0 && updatedUser == null">
    <table mat-table [dataSource]="userList" class="mat-elevation-z8" *ngIf="userList != null">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <!--<mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>-->
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre_usuario">
        <th mat-header-cell *matHeaderCellDef> Nombre de Usuario</th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Teléfono</th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef> Mail</th>
        <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
      </ng-container>

      <ng-container matColumnDef="dni_persona">
        <th mat-header-cell *matHeaderCellDef> DNI</th>
        <td mat-cell *matCellDef="let element"> {{element.dni_persona}} </td>
      </ng-container>

      <ng-container matColumnDef="id_perfil">
        <th mat-header-cell *matHeaderCellDef> Perfil</th>
        <td mat-cell *matCellDef="let element"> {{element.id_perfil}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="two-options">
      <input type="submit" value="Seleccionar" (click)="selectUser()">
      <input type="submit" value="Cancelar" (click)="resetTable()">
    </div>

    <div class="form-margin-top" *ngIf="selectedUser != null">
      <form action="#" [formGroup]="updateForm">

        <input type="text" placeholder="Nombre de Usuario" required formControlName="nombre_usuario">
        <p *ngIf="_formUtils.hasError('nombre_usuario', updateForm)">El nombre de usuario debe contener más de 4 caracteres</p>
        <p *ngIf="_formUtils.isEmpty('nombre_usuario', updateForm)">{{_formUtils.requiredFieldText}}</p>

        <select (change)="selectProfile($event)" formControlName="id_perfil">
          <option value="" disabled selected>Seleccione un perfil</option>
          <option *ngFor="let profile of profiles" [ngValue]="profile.id_perfil">{{profile.nombre}}</option>
        </select>

        <input type="submit" value="Actualizar" (click)="updateUser()">
        <p class="button-error" *ngIf="nothingChanged">Debe realizar algún cambio para actualizar el usuario.</p>

      </form>
    </div>
  </div>

  <div class="form-margin-top" *ngIf="updatedUser != null">
    <h2>Usuario actualizado exitosamente</h2>
    <h3>{{updatedUser | json}}</h3>
  </div>
</div>


