<div class="form-container">
  <form action="#" [formGroup]="searchUserForm">
    <h2>Buscar Usuario</h2>

    <input type="text" placeholder="DNI" required formControlName="dni_persona">
    <p *ngIf="_formUtils.hasError('dni_persona', searchUserForm)">Por favor, solamente utilizar números.</p>
    <p *ngIf="_formUtils.isEmpty('dni_persona', searchUserForm)">{{_formUtils.requiredFieldText}}</p>

    <input type="text" placeholder="Nombre" required formControlName="nombre_usuario">
    <p *ngIf="_formUtils.hasError('nombre_usuario', searchUserForm)">El nombre de usuario debe contener más de 4 caracteres</p>
    <p *ngIf="_formUtils.isEmpty('nombre_usuario', searchUserForm)">{{_formUtils.requiredFieldText}}</p>

    <div class="two-options">
      <input type="submit" value="Buscar" (click)="searchUser()">
      <input type="submit" value="Cancelar" routerLink="/pacientes"
             routerLinkActive="active">
    </div>

  </form>

  <table mat-table [dataSource]="userList" class="mat-elevation-z8" *ngIf="userList != null">

    <ng-container matColumnDef="nombre_usuario">
      <th mat-header-cell *matHeaderCellDef> Nombre de Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> Mail </th>
      <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
    </ng-container>

    <ng-container matColumnDef="dni_persona">
      <th mat-header-cell *matHeaderCellDef> DNI </th>
      <td mat-cell *matCellDef="let element"> {{element.dni_persona}} </td>
    </ng-container>

    <ng-container matColumnDef="id_perfil">
      <th mat-header-cell *matHeaderCellDef> Perfil </th>
      <td mat-cell *matCellDef="let element"> {{element.id_perfil}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


