<div style="background-image: url(/assets/imagendefondo.png);">
  <div class="center">
    <h1>ABM DE HISTORIAL CLINICO</h1>
    <div class="info"><a href="https://www.grandvincent-marion.fr" target="_blank"><p><i class="fa fa-heart"></i></p></a></div>
  </div>

  <div *ngFor="let option of availableOptions">
    <button (click)="selectOption(option)">{{option | uppercase}}</button>
  </div>

  <div *ngIf="selectedOption === 'alta'">
    <app-alta-historial-clinico></app-alta-historial-clinico>
  </div>

  <div *ngIf="selectedOption === 'baja'">
    <app-baja-historial-clinico></app-baja-historial-clinico>
  </div>

  <div *ngIf="selectedOption === 'modificación'">
    <app-modificacion-historial-clinico></app-modificacion-historial-clinico>
  </div>

  <div *ngIf="selectedOption === 'buscar'">
    <app-buscar-historial-clinico></app-buscar-historial-clinico>
  </div>
</div>
