<div class="contenedor-form">

  <div class="formulario">
    <h1>ABM de Usuarios</h1>
    <div class="four-options">
      <button [ngClass]="isSelectedOption(option) ? 'selected-option' : 'unselected-option'" *ngFor="let option of availableOptions" (click)="selectOption(option)">{{option | uppercase}}</button>
    </div>

    <div *ngIf="selectedOption === 'alta'">
      <app-alta-usuarios></app-alta-usuarios>
    </div>

    <div *ngIf="selectedOption === 'baja'">
      <app-baja-usuarios></app-baja-usuarios>
    </div>

    <div *ngIf="selectedOption === 'modificación'">
      <app-modificacion-usuarios></app-modificacion-usuarios>
    </div>

    <div *ngIf="selectedOption === 'buscar'">
      <app-buscar-usuarios></app-buscar-usuarios>
    </div>
  </div>
</div>

