* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #ff851b;
  --secondary-color: #0075d9;
  --error-color: red;
  --margin-distance: 1.5em;
  --margin-distance-negative: -1.5em;
  --form-background: rgba(0, 0, 0, .5);
  --button-secondary-color: rgba(0, 117, 217, 0.7);
}

body {
  background: url(/assets/imagenprincipal.png);
  background-size: cover;
  background-attachment: fixed;
  font-family: Roboto;
}

table {
  width: 100%;
  margin-top: var(--margin-distance);
  margin-bottom: var(--margin-distance);
}

.form-margin-top {
  margin-top: var(--margin-distance);
}

.button-error {
  margin-top: 0px !important;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.contenedor-form {
  background: rgba(0, 0, 0, .7);
  width: 100%;
  margin: 48px auto;
  border-radius: 5px;
  color: #fff;
  position: relative;
  /*padding: 40px;*/
}

.contenedor-form .toggle {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  cursor: pointer;
  transition: all .5s ease;
}

.contenedor-form .toggle:hover {
  border-top: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.contenedor-form .toggle span {
  letter-spacing: 1px;
}

.contenedor-form h2 {
  margin: 0 0 28px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"],
.contenedor-form select {
  outline: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: var(--margin-distance);
  background: var(--form-background);
  color: #fff;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid var(--main-color);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
  border-bottom: 4px solid var(--secondary-color);
}

input.ng-invalid.ng-touched {
  border-bottom: 4px solid var(--error-color);
}

form > p {
  margin-top: var(--margin-distance-negative);
  color: var(--error-color);
}

.contenedor-form input[type="submit"] {
  background: var(--main-color);
  color: #FFF;
  width: 100%;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  font-weight: normal;
  font-family: Roboto;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
  background: var(--button-secondary-color);
}

.contenedor-form button {
  background: var(--main-color);
  color: #FFF;
  width: 100%;
  border: none;
  padding: .75em;
  font-size: 16px;
  font-weight: normal;
  font-family: Roboto;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .5s ease;
}

.contenedor-form button:hover {
  background: var(--button-secondary-color) !important;
}

.contenedor-form .reset-password {
  background: rgba(0, 117, 217, .7);
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.contenedor-form .reset-password:hover {
  cursor: pointer !important;
}

.contenedor-form .login-error {
  background: var(--error-color);
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.contenedor-form .login-error div {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.contenedor-form .formulario {
  padding: 2.5em;
}

.contenedor-form .formulario:nth-child(2) {
  display: block;
}

.two-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.four-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.form-container {
  padding-top: 2.5em;
}

.selected-option {
  background: var(--button-secondary-color) !important;
}

.unselected-option {
  background: var(--main-color) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-column-select {
  overflow: initial;
}
