<div class="center">
  <h1>ALTA DE PACIENTES</h1>
  <div class="info"><a href="https://www.grandvincent-marion.fr" target="_blank"><p><i class="fa fa-heart"></i></p></a></div>

</div>

<form>
  <h1></h1>

  <div class="contentform">
    <!div id="sendmessage">

    <div class="form-group">
      <p>DNI <span>*</span></p>
      <span class="icon-case"><i class="fa fa-map-marker"></i></span>
      <input type="text" name="postal" id="postal" data-rule="required" data-msg="Verifique su entrada en los campos: el campo 'DNI' debe completarse."/>
      <div class="validation"></div>
    </div>
    <div style="width:100%; height:100%">
      <button type="button">BUSCAR PACIENTE</button>
    </div>
    <div class="leftcontact">
      <label>PACIENTE DERIVADO</label>
      <input type="radio" name="SI" value="a">FEMENINO
      <input type="radio" name="NO" value="i">MASCULINO

      <div class="form-group">
        <p>FECHA DE INGRESO <span>*</span></p>
        <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
        <!input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire."/>
        <input type="date" name="cumpleaños" step="1" min="2020-01-01" max="2020-12-31" value="2020-06-24">
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>FECHA DE EGRESO <span>*</span></p>
        <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
        <!input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire."/>
        <input type="date" name="cumpleaños" step="1" min="2020-01-01" max="2020-12-31" value="2020-06-24">
        <div class="validation"></div>
      </div>
      <div class="form-group">
        <p>FECHA DE TURNO <span>*</span></p>
        <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
        <!input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire."/>
        <input type="date" name="cumpleaños" step="1" min="2020-06-24" max="2020-12-31" value="2020-06-01">
        <div class="validation"></div>
      </div>


    </div>

    <div class="rightcontact">
      <p>OBRA SOCIAL <span></span></p>
      <select name="Ciudad">

        <option>OSDE</option>
        <option>SEROS CHUBUT</option>
        <option>SWISS MEDICAL</option>
        <option>OTRA OBRA SOCIAL</option>
        <option>SIN OBRA SOCIAL</option>

      </select>

      <div class="rightcontact">
        <p>HOSPITAL <span></span></p>
        <select name="Ciudad">

          <option>GUEMES</option>
          <option>ITALIANO</option>
          <option>CHURRUCA</option>
          <option>OTRO</option>
          <option>SIN HOSPITAL</option>

        </select>

        <div class="form-group">
          <p>Observaciones <span></span></p>
          <span class="icon-case"><i class="fa fa-comments-o"></i></span>
          <textarea name="message" rows="14" data-rule="required"
                    data-msg="Vérifiez votre saisie sur les champs : Le champ 'Message' doit être renseigné."></textarea>
          <div class="validation"></div>
        </div>
      </div>
    </div>
  </div>

</form>
<button onclick="location.href = 'ventanaAltaPersona.html'">ALTA DE PERSONA</button>
<button onclick="location.href = 'index.html'">ENVIAR</button>
